/* Content */
.feature-title {
    letter-spacing: 1px;
    font-weight: 300;
}


/* Header */
hr {
    border-bottom: 4px solid #7d97ad;
}

.profile-name {
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 4em;
}

.profile-title {
    font-weight: 400;
}