.border-black{
    border: 1px solid black;
}

.banner-image {
    width: 100%;
}

.container > .row > hr {
    border-bottom: 4px solid #7d97ad;
    width: 100%;
}

.work-item {
    word-wrap: break-word;
    padding:0px;
}
#feature-title {
    color: #bbb;
    letter-spacing: 1px;
    font-weight: 300;
}

.profile-name {
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 4em;
}

.profile-title {
    font-weight: 400;
    text-transform: uppercase;
}